[Unit]
Description=Domoticz-Google-Assistant Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Environment=VIRTUAL_ENV=/home/__USER__/Domoticz-Google-Assistant/env
Environment=PATH=/home/__USER__/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/home/__USER__/Domoticz-Google-Assistant/env/bin/python3 /home/__USER__/Domoticz-Google-Assistant/
StandardInput=tty-force
User=__USER__
Restart=on-failure

[Install]
WantedBy=multi-user.target
