<footer class="footer">
<div class="container-fluid">
  <nav class="float-left">
    <ul>
      <li>
        <a href="https://github.com/DewGew/Domoticz-Google-Assistant">
          Domoticz-Google-Assistant
        </a>
      </li>
      <li>
        <a href="https://github.com/DewGew/Domoticz-Google-Assistant/wiki">
          Wiki
        </a>
      </li>
      <li>
        <a href="https://www.domoticz.com">
          Domoticz
        </a>
      </li>
     </ul>
  </nav>
  <div class="copyright float-right">
    &copy;
    <script>
      document.write(new Date().getFullYear())
    </script>, made with <i class="material-icons">favorite</i> by
    <a href="https://github.com/DewGew/Domoticz-Google-Assistant" target="_blank">DewGew</a> for a better homeautomation.
  </div>
</div>
</footer>