<div id="menu3" class="tab-pane fade" role="tabpanel">
<div class="col-md-8">
  <div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">Help</h4>
      <p class="card-category"></p>
    </div>
    <div class="card-body">
    <p>For help or more information about configuration and to setup Action on Google:</br>
    <a href="https://github.com/DewGew/Domoticz-Google-Assistant/wiki" target="_blank" rel="noopener">Domoticz Google Assistant wiki</a> or at 
    <a href="https://discordapp.com/invite/AmJV6AC" target="_blank" rel="noopener" aria-label="Discord">Discord</a></p>

    <h6>Manual update</h6>
    <p><kbd>bash &#60;(curl -s https://raw.githubusercontent.com/DewGew/dzga-installer/master/install.sh)</kbd></p>
    
    </div>
    </div>
</div>
 
</div>
