{% extends 'base.html' %}

{% block title%}Domoticz-Google-Assistant{% endblock %}

{% block content %}
<div id="home" class="tab-pane fade show active" role="tabpanel">
      <div class="row">
  <div class="col-md-8">
  <div class="card">
    <div class="card-header card-header-success">
      <h4 class="card-title">About Domoticz-Google-Assistant</h4>
      <p class="card-category" >Before you can use dzga. Setup Action on Google and configure settings in configuration.</p>
    </div>
    <div class="card-body">
        <p>This project is based on Pawcio's script at <a href="https://www.domoticz.com/forum/viewtopic.php?f=69&amp;t=27244" target="_blank" rel="noopener" aria-label="Domoticz Forum">domoticz forum</a><br>
        <p class="lead">Domoticz-Google-Assistant delivers:<br />
        <ul class="text-muted">
            <li>The oauth authorization and smarthome endpoint for the google assistant</li>
            <li>Two-factor authentication pin for domoticz protected devices (limited language support)</li>
            <li>Acknowledgement with Yes or No. (limited language support)</li>
            <li>Arm Disarm Securitypanel (limited language support)</li>
            <li>Supports Ngrok and SSL</li>
            <li>Function to change device type, icon and some behavior depending on the device.</i></li>
        </ul>
        <p>Please feel free to modify, extend and improve it!</p>
        <p class="lead">
        <a href="https://github.com/DewGew/Domoticz-Google-Assistant/issues" target="_blank" rel="noopener" aria-label="Github Issues">
        <img alt="GitHub issues" src="https://img.shields.io/github/issues/DewGew/Domoticz-Google-Assistant?logo=github&style=for-the-badge">
        </a>
        <a href="https://discordapp.com/invite/AmJV6AC" target="_blank" rel="noopener" aria-label="Discord">
        <img alt="Discord" src="https://img.shields.io/discord/664815298284748830?label=Chat%20on%20discord&logo=discord&logoColor=white&style=for-the-badge">
        </a>
        </p>
      </div>
      </div>
      </div>
      <div class="col-md-4">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Quick start</h4>
          <p class="card-category"></p>
        </div>
        <div class="card-body">
        <small class="text-muted">
            Visit the Actions on Google console at <a href="http://console.actions.google.com" target="_blank" rel="noopener" aria-label="Actions on Google">http://console.actions.google.com</a>.<br>Under Develop section, replace the fulfillment URL in Actions with:<br>
            <kbd>{{ public_url }}/smarthome</kbd><br><br>
            In Account linking, set the Authorization URL to:<br>
            <kbd>{{ public_url }}/oauth</kbd><br><br>
            Then set the Token URL to:<br>
            <kbd>{{ public_url }}/token</kbd><br><br>
            Finally press <kbd>SAVE</kbd> and then <kbd>TEST</kbd> button<br>
      </small>
      </div>
    </div>
    </div>
    </div>
        <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card">
        <div class="card-header card-header-warning">
          <h4 class="card-title">Information</h4>
          <p class="card-category"></p>
        </div>
        <div class="card-body">
        <small class="text-muted"><b>DZGA Uptime:</b> {{ uptime }}</small><br>
        <small class="text-muted"><b>DZGA Version:</b> {{ dzgaversion }} {{ branch }} <i class="text-muted; text-info" id="updates"></i><br>
        <b>Domoticz Version:</b> {{ dzversion }}</small><br><br>
      </div>
    </div>
    </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">Functions</h4>
          <p class="card-category"></p>
        </div>
        <div class="card-body">
        <form action="settings" method="post">
            <button class="btn btn-warning btn-block" name="restart" value="restart"><i class="material-icons" style="vertical-align: middle;">replay</i> Restart Server</button>
            <button class="btn btn-success btn-block" name="sync" value="sync"><i class="material-icons" style="vertical-align: middle;">sync</i> Sync Devices</button>
        </form>
        <div id="buttonUpdate"></div>
      </div>
    </div>
    </div>
    </div>
</div>
<!-- Menu 1 -->
{% include 'devices.html' %}
<!-- Menu 2 -->
{% include 'config.html' %}
<!-- Menu 3 -->
{% include 'help.html' %}
<!-- Menu 4 -->
{% include 'logs.html' %}

{% endblock %}
